* {
  margin: 0;
}

form {
  padding-top: 30px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 12px;
}

.labelled-input {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
}

.labelled-input:focus-within label,
.labelled-input .filled {
  transform: translate(0, 12px) scale(0.8);
}
.labelled-input:focus-within label {
  color: #000000;
}

.labelled-input label {
  position: absolute;
  transform: translate(0, 23px);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6e7588;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.labelled-input input {
  height: 32px;
  padding: 24px 16px 4px 14px;
  font-size: 16px;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
button[type="submit"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #2774ae;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
}
.signinwords {
  padding-top: 100px;
}
.linktoregister {
  margin-top: -10px;
}
