h1 {
  color: black;
  text-align: center;
}
body {
  background-color: #eeeeee;
}

.entry {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
.signup {
  margin-top: 0%;
  margin-bottom: 0%;
}

.formLogin {
  margin-top: 100px;
  text-align: center;
}
.formLink {
  margin-top: 100px;
  text-align: center;
}
.signupwords {
  margin-top: 20px;
}
